/* common.css */

@charset "utf-8";

/* =背景色
-------------------------------------------------------- */
html {
	background: #fc7f02;
}

/* =ラッパー
-------------------------------------------------------- */
#wrapper {
	margin: 0 auto;
	width: 600px;
	height: auto;

}

/* =ヘッダー
-------------------------------------------------------- */
h1 {
	font-size: 2.4em;
}

h2 {
	text-align: right;
	font-size: 1.1em;
	margin: -1.8em 0 4.2em 0;
}

/* =アーティクル
-------------------------------------------------------- */
.sec1, .sec2 {
	text-align: center;
}
.sec1 {
	font-size: 1.2em;
}
.sec2 {
	margin: -1em 0 0 0;
}

/* =フッター
-------------------------------------------------------- */
footer {
	margin: 3.4em 0 0 0;
}
